.main {
    display: flex;
    flex-direction: column;
    flex: 30%;
}
.top {
    display: flex;
    justify-content: space-between;
}
.properties {
    display: flex;
    flex: 33%;
    justify-content: space-between;
    padding: 20px 0px;
}
.bottom {
    display: flex;
    justify-content: center;
}
.beverage {
    display: flex;
    justify-content: center;
}

