.container {
  background-color: rgb(236, 236, 236);
  margin: 1rem 0rem;
}
.lista {
  display: flex;
  padding: 0rem 0.5rem;
  background-color: rgb(255, 251, 235);
  margin-bottom: 0.5rem;
}
.header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  padding: 0rem 0.5rem;
  font-weight: 550;
  font-size: 1.3rem;
  background-color: rgb(255, 251, 235);
  margin-bottom: 0.5rem;
}
.itemOne {
  flex: 60%;
}
.itemTwo {
  flex: 15%;
}
.itemThree {
  flex: 20%;
}
.itemFour {
  flex: 5%;
}