.container {
  background-color: rgb(255, 255, 255);
  margin: 1rem 0rem;
  border-radius: 1rem;
}
.lista {
  display: flex;
  padding: 0rem 0.5rem;
  margin-bottom: 0.5rem;
}
.header {
  display: flex;
  padding: 0rem 0.5rem;
  font-weight: 550;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.itemOne {
  flex: 60%;
}
.itemTwo {
  flex: 15%;
}
.itemThree {
  flex: 20%;
}
.itemFour {
  flex: 5%;
}