@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Shadows+Into+Light+Two&display=swap');
body, html {
  font-family: 'Shadows Into Light Two', cursive;
}
.App {
  display: flex;
  flex-direction: column;
}
.App .container{
  flex-grow: 1;
  padding: 0 20px;
}